@media screen and (min-width: 1024px) {
    body {
    width: 100%;
    }

    .site__header {
    background: rgba(112, 112, 112, 0.4);
    max-width: 100%;
    display: flex;
    padding: 0px 20px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    transition: 0.9s;
    width: 100%;
      /* height: 56px; */
    padding: 10px 20px;
    }

    .site__header.transform {
    background: rgba(255, 82, 82, 1);
    padding: 30px 20px;
    }

    /* logo */
    .site__logo img {
    height: 20px;
      /* width: auto; */
    margin-left: auto;
    }

    /* menu */
    .gnav__menu {
    display: flex;
    }
    .gnav__menu__list {
    margin-left: 20px;
    }
    .gnav__menu__list a {
    color: #333;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-property: color;
    
    font-size: 16px;
    }

    /* マウスオーバー */

    .gnav__menu__list a:hover {
    color: rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px #fff; */
    }

    /* メイン画像 */

    .main__img {
        width: 100%;
        margin: 0 auto;
        clear: both;
        /* padding-top: 56px; */
    }

    .main__img img {
        width: 100%;
    }

    /* eye__content */

    .news {
        max-width: 100%;
        width: 1000px;
        border: solid 1px #ffb6c1;
        border-radius: 10px;
        padding: 10px;
        margin: 100px auto 50px;
        justify-content: center;
    }

    h2 {
        text-align: center;
        padding-top: 50px;
    }
    
    .overview__title {
        text-align: center;
        padding-top: 50px;
    }

    /* 概要 */

    .overview {
        max-width: 100%;
        width: 100%;
        padding: 30px;
    }

    .Corporate__philosophy {
        padding: 50px;
    }

    .philosophy {
        margin-top: 20px;
        font-size: 15px;
        text-align: center;
    }

    .overview__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .map {
        margin-left: 30px;
    }


    table {
        max-width: 100%;
        padding: 20px;
        border-collapse: collapse;
        
    }

    tr:nth-child(odd) {
        background-color: rgb(221, 219, 226);
    }

    th {
        width: 100px;
    }

    th , td {
        border:  #333;
        width: 300px;
        text-align: center;
        height: 100px;
        padding-right: 20px;
    }

    footer {
        width: 100%;
        background-color: #fff;
    }

    .footerCopyright {
        text-align: center;
        font-size: 12px;
    }

}
